.container{
    grid-column-start: col2;
    grid-column-end: col10;
    grid-row-start: row3;
    grid-row-end: row6;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}