.footer {
    grid-column-start: col1;
    grid-column-end: col21;
    grid-row-start: row19;
    grid-row-end: row21;
    background-color: rgba(50, 100, 200, 0.25);
    text-align: center;
    color: white;
    padding-top: 30px;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
}