.footer {
    grid-column-start: col1;
    grid-column-end: col4;
    grid-row-start: row3;
    grid-row-end: row4;
    background-color: rgba(50, 100, 200, 0.25);
    text-align: center;
    color: white;
}