audio {
    display: none;
}

.circleContainer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circleText {
    /*align-self: flex-start;*/
}

.circle {
    background: #fafcf7;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-animation:grow 10s infinite;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale( 0.01 );-moz-transform: scale( 0.01 );-o-transform: scale( 0.01 );-ms-transform: scale( 0.01 );transform: scale( 0.01 );
    }
    
    50% {
        -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
    }
    
    100% {
        -webkit-transform: scale( 0.01 );-moz-transform: scale( 0.01 );-o-transform: scale( 0.01 );-ms-transform: scale( 0.01 );transform: scale( 0.01 );
    }
}


/*.circle {*/
    /*background: red;*/
    /*animation: circle 10s infinite;*/
    /*border-radius: 50%;*/
    /*width: 500px; height: 500px;*/
/*}*/
/*@keyframes circle {*/
    /*0% {*/
        /*transform: scale(0);*/
    /*}*/
    /*50% {*/
        /*transform: scale(1);*/
    /*}*/
    /*100% {*/
        /*transform: scale(0);*/
    /*}*/
/*}*/